html{ 
overflow-x : auto;
overflow-y : auto;
}

body{
	margin-left:10px;  
	background-image: url(Fond.png); 
	background-repeat: repeat;  
}

a:link {
text-decoration:none;
color: #2288bb;
}
a:visited {
text-decoration:none;
color: #2288bb;
}
a:hover {
text-decoration:underline;
color: #33aaff;
}


.css_radio{

}
.css_input{		
height: 20px;
text-align : center;
} 
.css_liste{	
height: 22px;	
} 

.css_liste,.css_input{
background-color:#444444;
box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3) inset;
text-shadow: 1px 1px 2px #111111
}


.css_input,.css_liste,.css_radio,.div_globale{
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
font-size:14px;
font-style:normal;
font-weight:normal;
border: 0px;
padding: 0px;
border-spacing: 0px;
}


.css_BtnON,.css_BtnOFF{
height:30px;
width:30px;
border: solid #000000 1px;
text-align: center;
}


.css_BtnON{
box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.3) inset; 
}

.css_BtnOFF{
box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.4) inset; 
}





.css_input,.css_liste,.css_radio{
color: #ffffff;	
}

.nom_var,.menu_onglet,.MAU,.nom_ss_onglet{
color: #cccccc;
}
.nom_ss_onglet{
text-align:center;
font-size:15px;
}

.div_globale{
	width:800px;
	color: #eeeeee;		
	text-shadow:  2px 2px 2px #000000;
} 
#titre{
width:100%;
height:40px;
text-align:center;
font-size:25px;
font-weight:bold;
font-style:italic;
text-shadow:  3px 3px 4px #000000;
}
#en_tete{
height:25px;
width:100%;
}

#zone_vide{
height:25px;
}
#zone_vide_2{
height:25px;
}
.zone_reglage,.zone_graphique{
position:relative;
box-shadow: 2px 2px 4px #111111, -1px 4px 20px rgba(200, 200, 200, 0.3) inset; 
background: rgba(0,0,0,0.2);
border: solid #111111 2px;
border-radius: 6px 6px 6px 6px;
}
.zone_reglage,.noms_onglets,.onglet{
	width:100%;
}


.nom_onglet{
	font-size:15px;	
	font-weight:bold;		
	text-align : center;
	cursor: pointer;
}
.nom_onglet:hover {
}

.slider-focale{
width: 300px;
}
.MAU{
font-style:italic;
font-size:13px;
}
.css_graph{ 
}



#menu_3D{
position:relative;
}

